img{
    width: 100%
}
button{
    position: fixed;
    top: 2%; right: 2%;
    border: 1px solid gray;
    border-radius: 5px;
}
.container{
    position: fixed;
    top: 1%; left: 1%;
    height: 98%;
    width: 98%;
    border: 1px solid gray;
    border-radius: 5px;
}

#split1, #split2{
    position: fixed;
    top: 2%; left: 2%;
    height: 96%;
    width: 47.5%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
}

#divider{
    position: fixed;
    top: 2%;
    height: 96%;
    left: 49.5%; width: 1%;
    cursor: col-resize;
}

#slider1, #slider2{
    position: absolute;
    left: 0;
    top: 5px;
    width: 100px;
    height: 3px;
    background-color: burlywood;
    border: 1px solid gray;
    border-radius: 5px;
}